/*.column {
	background-color: orange;
}
*/
/*  Desktop  */
@media (min-width: 992px) {

img {
	height: 160px;
}

.banner {
	width: 100%;
	height: 20%;
}

.icon {
	width: 50px;
	height: 50px;
}


body {
	background: white;
	margin:	0;
}

.green {
	color: green;
}

/* Contact styles */
#location {
	background: black;
	padding-top: 40px;
	padding-bottom: 15px;
}

#contact {
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: solid white;
	background: black;
}

#menu {
	padding-top: 50px;
	padding-bottom: 50px;
}


p, h3, a {
	color: black;
	font-family: 'Voces', cursive;

}
 
.contact-info,

.about,
.number {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}


/* nav styles */
#nav {
	background-color: black;
	height: 5%;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 25px;
	border-bottom: solid white;

}

.menu-link,
.email {
	color: white;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 35px;
	padding-right: 35px;
	/*background: blue;*/
}

.menu-link:hover,
.icon:hover {
	color: red;
}

} /*end of desktop querey */


/*  Tablet  */
@media (max-width: 991px) {

img {
	height: 160px;
}


.banner {
	width: 100%;
	height: 10%;
}

.icon {
	width: 50px;
	height: 50px;
}


body {
	background: white;
	margin:	0;
}

.green {
	color: green;
}

/* Contact styles */
#location {
	background-color: black;
}


p {
	color: black;

}
 
.contact-info,
h2 {
	color: white;
}

.about,
.number {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}


/* nav styles */
#nav {
	background-color: black;
	height: 5%;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 25px;
	border-bottom: solid white;
}

#contact {
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: solid white;
	background: black;
}


.menu-link,
.email {
	color: white;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
}

.menu-link:hover,
.icon:hover {
	color: red;
	}
				
} /* End of Tablet */


/*  Mobile  */
@media (max-width: 480px) {

img {
	height: 160px;
}

body {
		background: white;
}

iframe {
		width: 80%;
}

.icon {
		width: 5%;
		height: 5%;
}

.banner {
		width: 100%;	
}

#nav {
		background-color: black;
		height: 5%;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 25px;
		border-bottom: solid white;
}

#location {
	background: black;
}

#contact {
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: solid white;
	background: black;
}

.menu-link,
.email {
	color: white;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 35px;
	padding-right: 35px;
}

.menu-link:hover,
.icon:hover {
		color: red;
	}

.about,
.number {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}


} /* End of Mobile Query*/


