.column {
	background-color: orange;
}

/*  Desktop  */
@media (min-width: 992px) {

img {
	height: 160px;
}

.banner {
	width: 100%;
	height: 10%;
}

.icon {
	width: 50px;
	height: 50px;
}

.number {
	display: inline-block;
}

body {
	background: blue;
	margin:	0;
}

.green {
	color: green;
}

/* Contact styles */
#location {
	background: black;
}

.price-title,
.menu-title,
p {
	color: black;

}
 
.contact-info,
h2 {
	color: white;
}

.about {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}


/* nav styles */
#nav {
	background-color: black;
	height: 5%;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 25px;
	border-bottom: solid white;

}

.menu-link {
	color: white;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 35px;
	padding-right: 35px;
	/*background: blue;*/
}

.menu-link:hover,
.icon:hover {
	color: red;
}

} /*end of desktop querey */


/*  Tablet  */
@media (max-width: 991px) {

img {
	height: 160px;
}


.banner {
	width: 100%;
	height: 10%;
}

.icon {
	width: 50px;
	height: 50px;
}

.number {
	display: inline-block;
}

body {
	background: red;
	margin:	0;
}

.green {
	color: green;
}

/* Contact styles */
#location {
	background-color: black;
}


p {
	color: black;

}
 
.contact-info,
h2 {
	color: white;
}

.about {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}


/* nav styles */
#nav {
	background-color: black;
	height: 5%;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 25px;
	border-bottom: solid white;
}


.menu-link {
	color: white;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	padding-left: 3px;
	padding-right: 3px;
}

.menu-link:hover,
.icon:hover {
	color: red;
	}
				
} /* End of Tablet */


/*  Mobile  */
@media (max-width: 480px) {

img {
	height: 160px;
}

body {
		background: green;
}

iframe {
		width: 80%;
}

.icon {
		width: 5%;
		height: 5%;
}

.banner {
		width: 100%;	
}

#nav {
		background-color: black;
		height: 5%;
		width: 100%;
		padding-top: 50px;
		padding-bottom: 25px;
		border-bottom: solid white;
}

#location {
	background-color: black;
}

.menu-link {
		color: white;
		font-size: 18px;
		text-decoration: none;
		text-transform: uppercase;
		padding-left: 35px;
		padding-right: 35px;
}

.menu-link:hover,
.icon:hover {
		color: red;
	}

} /* End of Mobile Query*/


